/*  COLOUR REFERENCES
.color-primary-0 { color: #593F98 }
.color-primary-1 { color: #A08DCE }
.color-primary-2 { color: #755DAE }
.color-primary-3 { color: #422687 }
.color-primary-4 { color: #2E166B }

*/

/* ###### GENERAL ###### */

/*
a {
  color: #FFFFFF;
}
*/


/* ##### HEADER ##### */
header {
  margin-top:10px;
  position:relative;
}

/* ###### NAV ###### */

.navbar-default .navbar-brand  {
  color:#593f98;
  font-weight:bold;
}

.navbar-default .navbar-nav>li>a {
  color:#593f98;
  font-size: 1.2em;
  font-weight:bold;
  display: block;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;

}

.navbar-default .navbar-nav>li>a:hover {
  color:#593f98;
  font-size: 1.2em;
  font-weight:bold;
  border-bottom: 3px solid #593F98;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}


/* ###### WHITE BACKGROUND ###### */
.whiteBackground{
  background-color:#FFFFFF;
	color: #593f98;
  margin-top:30px;
  margin-bottom:30px;
}

.whiteBackground h3,h2,h1{
	font-weight: bold;
	font-family: 'Lalezar', cursive;
}

#subHeading a{
    color: #fff;
    text-decoration: none;
}

#weekend .img-circle {
    border-radius: 50%;
}

/* ###### PURPLE BACKGROUND ###### */
.purpleBackground{
  background-color:#593f98;
	color: #FFFFFF;
  padding-bottom: 30px;

}

p {
  font-family: 'Roboto', sans-serif;
  font-size:1.3em;
}




/* ####### HEADING ####### */

#heading img {
/*  margin-left:50px; */
  margin-top:30px;
  margin-bottom:30px;
  position: relative;
  overflow: hidden;
}

#heading h3 {
  		color: #593f98;
			font-weight: bold;
			font-family: 'Lalezar', cursive;
      margin:10px;
}

#heading {
  margin-top:30px;
  width: 100%;
}

#mainText{
  margin-top: 25px;
}

/* ####### PROGRAMME ####### */

#programme {
  margin-bottom: 30px;
}

#programme p {
  font-weight:bold;
}

#programme ul {
  font-weight:bold;
}

#programme ul li {
  font-weight:bold;
  margin: 15px;
}



/* ######### ABOUTUS ######## */

#aboutUs img {
  width:  100%;
  height: 100%;
}

#beginninglogo {
  max-width: 204px;
  max-height: 207px
}

#beginningemblem {
  max-width: 200px;
  max-height: 300px
}


#usefulLinks{
  border-top: .1em solid #C5C5C5;
  background-color: #f8f8f8;
}

/* ######### USEFUL LINKS ######### */

.usefulLinksItem {
  margin: 30px 0px;
}







/* ######### FOOTER ######### */

footer {
  color: white;
}

.social {
 background-color:#2e2e2e;
}


/* ######### MEDIA QUERIES ######### */



/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {}





  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

    #heading h3{
      font-size: 18px;
    }

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) and (max-width : 767px) {
    /*
    #heading h3{
      font-size: 20px;
    }
    */
  }

  /* Small Devices, Tablets, .visible-sm-* */
  @media only screen and (min-width : 768px) and (max-width : 991px) { }

  /* Medium Devices, Desktops, .visible-md-* */
  @media only screen and (min-width : 992px) and (max-width : 1199px){ }

  /* Large Devices, Wide Screens,  .visible-lg-*  */
  @media only screen and (min-width : 1200px) { }
